<div class="sidebar" id="sidebardiv">
  <div class="topside">
    <img
      title="Reset"
      src="https://cdn3.iconfinder.com/data/icons/black-easy/512/refresh_512x512.png"
      type="button"
      (click)="refresh_countries($event)"
    />
    <input
      (ngModelChange)="search_countries($event)"
      [(ngModel)]="countryName"
      type="text"
      id="searchField"
      placeholder="Search"
    />
    <img
      src="https://static-00.iconduck.com/assets.00/minimize-icon-2048x2048-ekjoa1af.png"
      type="button"
      (click)="this._countryServ.moveNavBar($event)"
    />
  </div>

  <div class="list" id="countrylist">
    <ul
      type="button"
      (click)="click_countries(country, $event)"
      *ngFor="let country of _countryServ.countries; let i = index"
    >
      <img src="{{ country.flags.svg }}" width="16rem" />
      {{
        country.name.common
      }}
    </ul>
  </div>
</div>
