/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 1.2rem;
    background-color: #333333;
    color: bisque;
}

b,a {
  font-size: 16px;
}


/* Side Bar component styles */

.sidebar {
  height: 0%; 
  width: 11rem; 
  z-index: 1; 
  left:-160px;
  transition: 0.5s;
  overflow-x: overlay;
  position:fixed;
  top: 56px;
}

.sidebar.active{
  left:5px;
  transition: 1s;
  width: 11rem;
  height: 31rem;
  overflow-x: overlay;
}

.sidebar .topside{
  width: 66%;
  position: fixed;
}

.sidebar .list{
  height: 10%;
  padding-top: 2rem;
}

.sidebar img {
  border-style: none;
  height: 12px;
  cursor: pointer;

}

.sidebar input {
  font-size: 14px;
  width: 7rem; 
  height: 1rem;
  background-color: rgb(63, 62, 61);
  margin: 10px;
}



.sidebar ul {
    font-size: 14px;
    padding: 0.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    border-style:solid;
    border-width: 1px 0 0 0;
    border-color: rgb(70, 100, 70);
    background-color: rgb(32, 35, 32);
  
  }
  
  .sidebar ul:hover {
    background-color:rgb(50,40, 50);
  }
  
/* Detail component styles */

  .detail {
    height: 85%; 
    width: 100%;
    position: fixed;
    top: 6rem;
    transition: 0.5s;
    overflow-x:hidden;
/* */
  }



  .detail.active {
    left: 11rem;
  }
  .detail img {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
    background-color: darkgrey;
  }

 .borders img {
    height: 18px;
    cursor: pointer;
    margin-top: 10px;
    max-width: 30px;
  }


.detail a {
    cursor: pointer;
  }

  .detail p.borders {
    background-color: rgb(44, 44, 44);
  }

  .detail .official {
    float: left;
    font-size: 18px;
    font-weight: bold;
    top: 20px;
    left: 35%;
    padding: 15px;
    padding-top: 5px;
    width: auto;
    background-color: rgb(44, 44, 44);
    align-items: center;
  }
  
  .detail p {
    font-size: 16px;
    color: burlywood;
    padding: 5px;
  }

  .detail th {
    float: left;
    font-size: 14px;
    font-weight: bold;
    top: 20px;
    left: 35%;
    padding: 54px;
    padding-top: 11px;
    width:-webkit-fill-available;
    align-items: center;
    border-style:solid;
    border-width: 1px 0 0 0;
    border-color: rgb(70, 100, 70);
  }

/* Top Bar component styles */
  .navbar p{
    width: 100%; 
    position:fixed;
    overflow: hidden;
    padding: 10px;
    background-color: rgb(0, 0, 0); 
  }
  
  /* Media Query styles */


  /* mobile 360 standard */
  @media screen and (min-width: 360px) {
    .sidebar.active{
      height: 91%;
      }

      .sidebar .topside{
        width: 59%;
      }
  }


  @media screen and (min-width: 768px) {
    .sidebar.active{
      height: 95%;
      left: 0px;
      }

      .sidebar {
        height: 92%;
        left: 0px;
        }

        .sidebar .topside{
          width: 28%;
        }
      .detail {
        width: 82%;
        left:38%;
      }

      .detail th {
        width: 36%;
        border-width: 2px 0px 0 0;
      }
    }

    @media screen and (min-width: 1024px) {
      .detail {
        width: 82%;
        left:20%;
      }
    }


  @media screen and (min-width: 1440px) {
    .sidebar.active{
      height: 94%;
      }

      .sidebar .topside{
        width: 15%;
      }
  }
